* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: aqua;
}

nav {
  padding: 10px;
  background-color: rgb(0, 225, 255);
}

a {
  color: black;
  margin-left: 6%;
  text-decoration: none;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

#position {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circulo {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border: 5px solid red;
  border-left-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

form {
  margin-top: 50px;
  margin-left: 20%;
}

label {
  display: inline-block;
  width: 200px;
}

textarea {
  resize: none;
}

#resultado {
  font-size: 50px;
}
